<div class="jumbotron text-center">
  <div *ngIf="isLogged">
    <h2>Paramètres</h2>

    <div *ngIf="user.role[1]=='patient' || user.role[1]=='medecin'">
      <h3>Choisissez votre médecin généraliste</h3>
      <div *ngFor="let doctor of doctors">
        <a class="btn btn-default btn-lg" routerLinkActive="active" (click)="addDoctor(doctor)">
          {{doctor.user_id.first_name}} {{doctor.user_id.last_name}}</a>
        <h5><br></h5>
      </div>

      <h3>Gestion des autorisations</h3>
      <button (click)="openAddAutorisation()">Ajouter</button>
      <div *ngIf="addAutorisationForm['show']">
          <!-- system de recherche d'un utilisateur a mettre en place -->
          <input type="email" placeholder="Adresse email de l'utilisateur" [(ngModel)]="addAutorisationForm['email']" required/><br/>
          <label for="subject">Element concerné par l'aurisation :</label><br/>
          <select name="subject" id="subject" [(ngModel)]="addAutorisationForm['subject']">
            <option value="POST" selected>Message</option>
            <option value="DOSSIER">Accès dossier médical</option>
            <option value="RDV" >Prise de rendez-vous</option>
          </select><br/>
          <label for="type">Type d'autorisation : </label><br/>
          <select id="type" name="type" [(ngModel)]="addAutorisationForm['type']">
            <option value="READ" selected>Lecture</option>
            <option value="READ_WRITE">Lecture & Modification</option>
          </select><br/>
          <button (click)="addNewAutorisation()">Ajouter</button>
      </div>
      <table>
        <tr>
          <td>Role</td>
          <td>Prénom</td>
          <td>Nom</td>
          <td>Autorisations</td>
          <td>Gestion</td>
        </tr>
          <tr *ngFor="let autorisation of autorisations">
            <td>{{autorisation.observer.role[1]}}</td>
            <td>{{autorisation.observer.first_name}}</td>
            <td>{{autorisation.observer.last_name}}</td>
            <td>{{autorisation.subject}} => {{autorisation.type}}</td>
            <td>
              <button (click)="deleteAutorisation(autorisation._id)">Supprimer</button>
            </td>
          </tr>
      </table>

      <button (click)="sendTestMail()">Send test mail</button>

      <h2>Send perso mail : </h2>
      <form>
        <input type="email" [(ngModel)]="to" placeholder="to ?" [ngModelOptions]="{standalone: true}"/><br/>
        <input type="text" [(ngModel)]="subject" placeholder="subject ?" [ngModelOptions]="{standalone: true}"/><br/>
        <input type="text" [(ngModel)]="text" placeholder="text ?" [ngModelOptions]="{standalone: true}"/><br/>
        <button (click)="sendPersoMail(to, subject, text)">Envoyer</button>
      </form>
    </div>

  </div>
</div>
