.jumbotron {
  background-color: white;
  color: black;
}

textarea {
  width: 200px;
}

[hidden] {
  display: none;
}



.treatment-list {
  margin-left: 1cm;
}

.table th {
  text-align: center;
}

@media (min-width: 768px) {
  .modal-xl {
    top: 15%;
    width: 90%;
    max-width:1200px;
  }
}
