<div class="btn-group" *ngIf="isLogged==true">
  <button type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
    <span class="badge">{{rappelesNum}}</span>
  </button>

  <ul class="dropdown-menu">

    <li *ngFor="let n of rappeles"
        class="clearfix"
        (click)="liClick($event)"
        [ngClass]="{'liNonDisplay': n.expire}">
      <div *ngIf="n.expire==false">
        <div class="displaybox">
          {{n.rappel.name}}*{{n.rappel.quantity}} {{n.rappel.takingState}}<br/>
          {{n.rappel.frequence}} fois par {{n.rappel.typeFrequence}} <br/>
          info:{{n.rappel.info}}<br/>
          heure:à{{n.time}} le {{n.date}}
        </div>
        <button type="button"
                class="btn btn-danger success"
                (click)="reminderDone(n._id)">déjà fait</button>
      </div>

    </li>

  </ul>
</div>
