<!--<div class="row">-->
    <!--<div class="col-sm-12 col-md-12 col-xs-12">-->
      <!--<div class="panel panel-primary">-->
        <!--<div class="panel-heading"><h3><i class="glyphicon glyphicon-bell"></i> Mes rappels</h3></div>-->
        <!--<div class="panel-body"><ul>-->
          <!--<div class="list-item">-->
            <!--<div dialogAnchor></div>-->
          <!--<div *ngFor="let n of rappeles" >-->
            <!--<div *ngIf="n.expire==false">-->
              <!--<li>{{n.rappel}}</li>-->
              <!--<button type="button" class="btn btn-danger success" (click)="reminderDone(n._id)">déjà fait</button>-->
            <!--</div>-->

          <!--</div>-->
          <!--<li>Tests de PAP à effectuer</li>-->
          <!--<li>Vaccins à administrer</li>-->
          <!--</div>-->
        <!--</ul></div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<button class="btn btn-primary reminder" type="button">-->
  <!--Mes Rappels <span class="badge">4</span>-->
<!--</button>-->
<div class="btn-group" *ngIf="isLogged==true">
  <button type="button" class="btn btn-primary reminder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Mes  Rappels <span class="badge">{{rappelesNum}}</span>
  </button>
  <ul class="dropdown-menu">

    <li *ngFor="let n of rappeles" class="clearfix" (click)="liClick($event)" [ngClass]="{'liNonDisplay': n.expire}">
      <div *ngIf="n.expire==false">
        <div class="displaybox">
          {{n.rappel.name}}*{{n.rappel.quantity}}  {{n.rappel.takingState}}<br />
          {{n.rappel.frequence}}fois par {{n.rappel.typeFrequence}} <br />
          info:{{n.rappel.info}} <br />
          data:{{n.date}}
        </div>
        <button type="button" class="btn btn-danger success" (click)="reminderDone(n._id)">déjà fait</button>
      </div>

    </li>

  </ul>
</div>
