.dropdown-menu {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600px;
}

.dropdown-menu li {
  border-top: 1px solid black;
  padding-bottom: 3px;
  background: #66CCFF;
}

.dropdown-menu .liNonDisplay {
  display: none;
}

.dropdown-menu li:hover {
  background: #333399;
}

.dropdown-menu li .displaybox {
  margin-left: 10px;
  width: 100%;
  float: right;
}

.dropdown-menu li button {
  float: right;
}

.btn-primary {
  width: 70px;
}
