<li id="infoSign">
  <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="dropdown">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="badge">{{alertNumber}}</span>
  </button>
  <ul class="dropdown-menu" id="alertTable">
    <li *ngFor="let n of demands" class="clearfix" (click)="liClick($event)" [ngClass]="{'liConfirm': n.confirm}">
      <div class="displaybox">
        user:{{n.user.first_name}} {{n.user.last_name}}<br/>
        user Mail:{{n.user.email}} <br/>
        demande autorisation:{{n.subject}} <br/>
        autorisation type: {{n.type}}<br/>
        data:{{n.Created_at.toLocaleString()}}
      </div>
      <button type="button" class="btn btn-danger success" [ngClass]="{'buttonConfirm': n.confirm}"
              (click)="nonAutoriserClick(n._id)">non autoriser
      </button>
      <button type="button" class="btn btn-danger success" [ngClass]="{'buttonConfirm': n.confirm}"
              (click)="autoriserClick(n._id)">autoriser
      </button>
    </li>
    <li *ngFor="let n of treatments" class="clearfix" (click)="liClick($event)">
      <div class="displaybox">
        A new treatment!!!<br/>
        start:{{n.start}} <br/>
        medicament: {{n.name}} <br/>
        frequence:{{n.frequence}} <br/>
        quantity: {{n.quantity}}
      </div>
    </li>
    <li *ngFor="let n of consultations" class="clearfix" (click)="liClick($event)">
      <div class="displaybox">
        A new consultation!!!<br/>
        who:{{n.patient.user_id.first_name}} {{n.patient.user_id.last_name}}<br/>
        date: {{n.date}} <br/>
        motif:{{n.motif}} <br/>

      </div>

    </li>
  </ul>
</li>
