<div class="jumbotron text-center">
  <div class="panel panel-default">
    <div class="panel-heading">Gestion Observateur</div>
    <table border="1" class="table">
      <tr>
        <td>Role</td>
        <td>Prénom</td>
        <td>Nom</td>
        <td>Autorisations</td>
        <td>Gestion</td>
      </tr>
      <tr *ngFor="let autorisation of autorisationValide" >
        <td>{{autorisation.observer.role[1]}}</td>
        <td>{{autorisation.observer.first_name}}</td>
        <td>{{autorisation.observer.last_name}}</td>
        <td>{{autorisation.subject}} => {{autorisation.type}}</td>
        <td>
          <button (click)="deleteAutorisation(autorisation._id)">Supprimer</button>
          <button [routerLink]="['/current-treatment' , {'id' : autorisation.observer._id}]">Consulter</button>
        </td>
      </tr>
    </table>
  </div>
  <br />
  <div class="signalColorValid"></div>Autorisation Valide
  <div class="signalColorRefuse"></div>Autorisation Refusé
  <div class="signalColorWait"></div>Autorisation en attente
  <div class="panel panel-default">
    <div class="panel-heading">Gestion demande d'autorisation</div>
  <table border="1" class="table">
    <tr>
    <td>status</td>
    <td>Role</td>
    <td>Prénom</td>
    <td>Nom</td>
    <td>Autorisations</td>
    <td>Gestion</td>
    </tr>
    <tr *ngFor="let autorisation of autorisations" >
    <td *ngIf="!autorisation.confirm" class="waitConfirm"></td>
    <td *ngIf="autorisation.confirm" [ngStyle]="{'background-color':autorisation.valide? 'green' : 'red' }"></td>
    <td>{{autorisation.observer.role[1]}}</td>
    <td>{{autorisation.observer.first_name}}</td>
    <td>{{autorisation.observer.last_name}}</td>
    <td>{{autorisation.subject}} => {{autorisation.type}}</td>
    <td>
    <button (click)="deleteAutorisation(autorisation._id)">Supprimer</button>
    </td>
    </tr>
  </table>
  </div>
</div>

