/*.active {
  color: white !important;
}

.dropdown-menu {
  background-color: grey;
}

#infoSign button {
  margin-left: 10px;
}

li {
  margin-bottom: 0;
}

.container {
  margin: 0;
  width: 100%;
}

.navbar-toggler {
  margin-top: 8px;
  margin-left: 8px;
  background: none;
  border-color: transparent;
}

span.glyphicon-menu-hamburger {
  font-size: 2em;
  color: White;
}

.nav>li {
  border-bottom: 1px solid #09194B;
  background-color: #aebcd4;

}
ul>div{
  display: inline;
}*/
button>a, button>a:hover{
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  line-height: 20px;
  position: relative;
  display: block;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.dropdown-menu>li>a{
  font-size: 18px;
}

.mobile .dropdown-menu>li>a{
  color: White;
}
.mobile .dropdown-menu>li>a:hover{
  color:  #123396;
  background-color: White;
}
.desktop .dropdown-menu>li>a{
  color:  #123396;
}
.desktop .dropdown-menu>li>a:hover{
  color:  White;
  background-color: #123396;
}
