.jumbotron {
  background-color: white;
  color: black;
}

#messagerie{
  position: fixed;
  top: 70px;
  right: 0;
  height: calc(100vh - 100px);
  width: 200px;
  /*background-color: rgb(70, 70, 70);*/

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
  background: #cedce7; /* Old browsers */
  background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */


  box-shadow: -2px 0 6px rgb(50,50,50);
  text-align:center;
  overflow-y: auto;
  border-radius: 10px 0 0 10px;
  z-index: 999;
}
#messagerieIsClosed{
  position: fixed;
  bottom: 10px;
  right:10px;
  width:50px;
  height:50px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
  background: #cedce7; /* Old browsers */
  background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

  color:rgb(53, 50, 48);
  font-weight: bold;
  border-radius: 100px;
  cursor: pointer;

  text-align: center;
  line-height: 50px;
  box-shadow: 0 0 4px black;
}

#message{
  position: fixed;
  bottom:0px;
  right:250px;
  width: 400px;
  height:400px;
  background-color: rgb(230,230,230);
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  border:1px solid grey;
  box-shadow: 0 0 6px grey;
  z-index: 999;
}
#message h2{
  border-radius: 5px 5px 0 0;
  text-align:center;
  background-color:rgb(200,200,200);
  margin:0; padding: 0;
  padding:15px;
}

#message ul{
  list-style-type: none;
  padding: 0; margin:0;
  overflow-y: scroll;
  height:300px; width: 100%;
}
#message ul li{
  width: 100%;
}
#message ul li div{
  position:relative;
  width:80%;
  background-color: dodgerblue;
  border-radius: 10px;
  box-shadow: 0 0 6px 1px grey;
  color:white;
  padding:5px;
  text-align:center;
  margin-bottom:5px;
  margin-top: 5px;
}
#inputMessage{
  position: relative;
  margin:0; padding: 0;
  left:0;
  width: 400px;
  height: 42px;
  box-shadow: -3px 0px 6px grey;
  text-align: left !important;
}
#newPost{
  margin:0; padding:0;
  outline:none;
  border:none;
  width:320px;
  height:100%;
  color:grey;
}
#sendPost{
  width: 80px;
  height: 100%;
  border:none;
  outline:none;
  background-color: dodgerblue;
  color:white;
  font-weight: bold;
  font-size: 0.8em;
  margin:0; padding: 0;
  margin-left: -5px; /* correction de 5px sur la gauche : petit décalage */
}

#messagerie h2{
  position:relative;
  left:0; right:0; margin:auto;
  text-align: center;
  width:90%;
  color:black;
  background-color: white;
  border-radius: 5px;
  padding:10px;
  border:1px solid black;
  box-shadow: 0 0 4px rgb(200,200,200);
  font-size: 0.95em;
  margin-top:20px; margin-bottom:20px;
}

#list_users{
  padding: 0;
  margin:0;
  list-style-type: none;
  width: 100%;
}
#list_users li{
  position:relative;
  left:0; right:0; margin:auto;
  width: 90%;
  border:1px solid grey;
  box-shadow: 0 0 4px grey;
  border-radius: 3px;
  text-align:center;
  color:grey;
  cursor: pointer;
  background-color: white;
}
@keyframes liHover{
  from{
    color:grey;
    transform: scale(1);
    background-color: white;
  }
  to{
    background-color: rgb(50,50,50);
    color:white;
    transform: scale(1.05);
  }
}
@keyframes liNotHover {
  from{
    background-color: rgb(50,50,50);
    color:white;
    transform: scale(1.05);
  }
  to{
    color:grey;
    transform: scale(1);
    background-color: white;
  }

}

#list_users li:hover{
  animation-name: liHover;
  animation-duration: 0.5s;
  background-color: rgb(50,50,50);
  color:white;
  transform: scale(1.05);
}
#list_users li:not(:hover){
  animation-name: liNotHover;
  animation-duration: 0.5s;
  background-color: white;
}
