#messagerie{
  position: fixed;
  top: 50px;
  right: 0;
  height: calc(100vh - 50px);
  width: 200px;
  background-color: rgb(240,240,240);
  box-shadow: -2px 0 4px grey;
  text-align:center;
}
#message{
  position: fixed;
  bottom:0px;
  right:250px;
  width: 400px;
  height:400px;
  background-color: rgb(230,230,230);
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  border:1px solid grey;
  box-shadow: 0 0 6px grey;
}
#message h2{
  border-radius: 5px 5px 0 0;
  text-align:center;
  background-color:rgb(200,200,200);
  margin:0;
  padding:15px;
}

#message ul{
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  height:300px; width: 100%;
}
#message ul li{
  width: 100%;
}
#message ul li div{
  position:relative;
  width:80%;
  background-color: dodgerblue;
  border-radius: 10px;
  box-shadow: 0 0 6px 1px grey;
  color:white;
  padding:5px;
  text-align:center;
  margin-bottom:5px;
  margin-top: 5px;
}
#newPost{
  position:relative;
  margin:0; padding:0;
  bottom:10px;
  outline:none;
  border:none;
  box-shadow: -3px 0px 6px grey;
  width:90%;
  padding:5px;
  height:45px;
  color:grey;
}
#sendPost{
  position:relative;
  left:80%; bottom:55px;
  width: 20%;
  height: 45px;
  padding:5px;
  border:none;
  outline:none;
  background-color: dodgerblue;
  color:white;
  font-weight: bold;
  font-size: 0.8em;
  box-shadow: 3px 0 6px grey;
}

#messagerie h2{
  position:relative;
  left:0; right:0; margin:auto;
  text-align: center;
  width:90%;
  color:rgb(240,240,240);
  background-color: rgb(50,50,50);
  border-radius: 3px;
  box-shadow: 0 0 4px rgb(50,50,50);
  margin-top:20px; margin-bottom:20px;
}

#list_users{
  padding: 0;
  margin:0;
  list-style-type: none;
  width: 100%;
}
#list_users li{
  position:relative;
  left:0; right:0; margin:auto;
  width: 90%;
  border:1px solid grey;
  box-shadow: 0 0 4px grey;
  border-radius: 3px;
  text-align:center;
  color:grey;
}
@keyframes liHover{
  from{
    color:grey;
    transform: scale(1);
    background-color: rgb(240,240,240);
  }
  to{
    background-color: rgb(50,50,50);
    color:white;
    transform: scale(1.1);
  }
}
@keyframes liNotHover {
  from{
    background-color: rgb(50,50,50);
    color:white;
    transform: scale(1.1);
  }
  to{
    color:grey;
    transform: scale(1);
    background-color: rgb(240,240,240);
  }

}

#list_users li:hover{
  animation-name: liHover;
  animation-duration: 0.5s;
  background-color: rgb(50,50,50);
  color:white;
  transform: scale(1.1);
}
#list_users li:not(:hover){
  animation-name: liNotHover;
  animation-duration: 0.5s;
}
