<div class="jumbotron text-center">
  <app-post></app-post>

  <a type="button" routerLink="../medical-file">Retour</a> <br/>
  <div class="panel panel-primary">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="panel-heading"><h3><i class="glyphicon glyphicon-plus"></i> Mon traitement</h3></div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Substance</th>
              <th>Nom</th>
              <th>Début traitement</th>
              <th>Fin traitement</th>
              <th>Quantité</th>
              <th>Fréquence</th>
              <th>Type fréquence</th>
              <th>Prise</th>
              <th>Info</th>
            </tr>
            <tr *ngFor="let medic of treatments">
              <td>
                <div style="height: 75px; overflow:auto;">
                  <li *ngFor=" let substance of medic.substances">
                    {{substance}}
                  </li>
                </div>
              </td>
              <td>{{medic.name}}</td>
              <td>{{medic.start.toLocaleDateString('fr-FR')}}</td>
              <td>
                <div *ngIf="medic.end != null">
                  {{medic.end.toLocaleDateString('fr-FR')}}
                </div>
              </td>
              <td>{{medic.quantity}}</td>
              <td>{{medic.frequence}}</td>
              <td>{{medic.typeFrequence}}</td>
              <td>{{medic.takingState}}</td>
              <td>{{medic.info}}</td>
              <td>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalInfo"
                        (click)="getTreatmentInfo(medic)">Info
                </button>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>


    <!-- Modal -->
    <div id="myModalInfo" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xl">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Informations</h4>
          </div>
          <div class="modal-body">
            <div *ngIf="treatmentInfo!== undefined">

              <h2>{{treatmentInfo.denomination}}</h2>
              <div *ngIf="treatmentInfo.presentations?.length > 0">
                <label *ngIf="treatmentInfo.presentations[0].prix === null">Prix : (libre)<br/></label>
                <label *ngIf="treatmentInfo.presentations[0].prix !== null">Prix :
                  {{treatmentInfo.presentations[0].prix}} €<br/></label>
              </div>
              <div *ngIf="treatmentInfo.presentation?.length <= 0">
                Prix : (libre)
              </div>

              {{treatmentInfo.statutAdministratifAMM}} - Date AMM : {{treatmentInfo.dateAMM}} -
              ({{treatmentInfo.typeProcedureAMM}}) - [CIS : {{treatmentInfo.codeCIS}}] <br/>
              Titulaires : {{treatmentInfo.titulaires}}<br/>
              Voies d'administration :
              <span *ngFor="let item of treatmentInfo.voiesAdministration; let isLast=last">
                {{item}}{{isLast ? '' : ' / '}}
              </span> <br/>

              <div class="panel panel-info">
                <div class="panel-heading"><h3>Indications thérapeutiques</h3></div>
                <div class="panel-body">
                  <p [innerHTML]='treatmentInfo.indicationsTherapeutiques'></p>
                </div>
              </div>

              <div class="panel panel-info">
                <div class="panel-heading"><h3>Conditions de prescriptions</h3></div>
                <div class="panel-body">
                  <li *ngFor="let condition of treatmentInfo.conditionsPrescriptionDelivrance">
                    {{ condition }}
                  </li>
                  <p *ngIf="treatmentInfo.conditionsPrescriptionDelivrance?.length <= 0">Ce médicament ne possède pas
                    de
                    conditions de prescription particulières</p>
                </div>
              </div>


              <div class="panel panel-info">
                <div class="panel-heading"><h3>Groupe Générique</h3></div>
                <div class="panel-body">
                  <div *ngIf="treatmentInfo.infosGenerique !== null">
                    <li><b>{{treatmentInfo.denomination}}</b> - {{treatmentInfo.infosGenerique.type}}</li>
                    <li *ngFor="let autre of treatmentInfo.infosGenerique.autresMedicamentsGroupe">
                      <b>{{autre.denomination}}</b> - {{autre.type}}
                    </li>
                  </div>
                  <p *ngIf="treatmentInfo.infosGenerique == null">Ce médicament n'appartient pas à un groupe générique

                </div>
              </div>


              <div class="panel panel-info">
                <div class="panel-heading"><h3>Composition</h3></div>
                <div class="panel-body">
                  <li *ngFor="let composition of treatmentInfo.compositions[0].substancesActives">
                    {{composition.denominationSubstance}}
                  </li>
                </div>
              </div>


              <div class="panel panel-info">
                <div class="panel-heading"><h3>Présentations</h3></div>
                <div class="panel-body">
                  <div *ngIf="treatmentInfo.presentations?.length > 0">
                    <div *ngFor="let presentation of treatmentInfo.presentations">
                      <h3>{{presentation.libelle}}</h3>
                      {{presentation.etatCommercialisationAMM}} <br/>
                      <div *ngIf="presentation.agrementCollectivites == true">
                        Cette présentation est agréée aux collectivités <br/>
                      </div>
                      <b>Prix : {{presentation.prix}} € </b> (taux de remboursement :
                      {{presentation.tauxRemboursement[0]}}) <br/>
                    </div>
                  </div>
                  <div *ngIf="treatmentInfo.avisSMR?.length <= 0">
                    <p>Aucune présentation n'est disponible pour ce médicament
                    </p>
                  </div>
                </div>
              </div>


              <div class="panel panel-info">
                <div class="panel-heading"><h3>Service médical rendu (SMR)</h3></div>
                <div class="panel-body">
                  <div *ngIf="treatmentInfo.avisSMR?.length > 0">
                    <table class="table">
                      <tr>
                        <th>Valeur du SMR</th>
                        <th>Date</th>
                        <th>Motif de l'évaluation</th>
                        <th>Résumé de l'avis</th>
                      </tr>
                      <tr *ngFor="let smr of treatmentInfo.avisSMR" (click)='redirect(smr.urlHAS)'>
                        <td>
                          {{smr.valeurSMR}}
                        </td>
                        <td>
                          {{smr.dateAvisCommissionTransparence}}
                        </td>
                        <td>
                          {{smr.motifEvaluation}}
                        </td>
                        <td>
                          <p [innerHTML]='smr.libelleSMR'></p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div *ngIf="treatmentInfo.avisSMR?.length <= 0">
                    <p>Aucun SMR n'est disponible pour ce médicament</p>
                  </div>
                </div>
              </div>


              <div class="panel panel-info">
                <div class="panel-heading"><h3>Amélioration du service médical rendu (ASMR)</h3></div>
                <div class="panel-body">
                  <div *ngIf="treatmentInfo.avisASMR?.length > 0">
                    <table class="table">
                      <tr>
                        <th>Valeur du SMR</th>
                        <th>Date</th>
                        <th>Motif de l'évaluation</th>
                        <th>Résumé de l'avis</th>
                      </tr>
                      <tr *ngFor="let smr of treatmentInfo.avisASMR" (click)='redirect(smr.urlHAS)'>
                        <td>
                          <label *ngIf="smr.valeurSMR =='I'">Majeure ({{smr.valeurSMR}})</label>
                          <label *ngIf="smr.valeurSMR =='II'">Importante ({{smr.valeurSMR}})</label>
                          <label *ngIf="smr.valeurSMR =='III'">Modérée({{smr.valeurSMR}})</label>
                          <label *ngIf="smr.valeurSMR =='IV'">Mineure ({{smr.valeurSMR}})</label>
                          <label *ngIf="smr.valeurSMR =='V'">Inexistante ({{smr.valeurSMR}})</label>
                        </td>
                        <td>
                          {{smr.dateAvisCommissionTransparence}}
                        </td>
                        <td>
                          {{smr.motifEvaluation}}
                        </td>
                        <td>
                          <p [innerHTML]='smr.libelleSMR'></p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div *ngIf="treatmentInfo.avisASMR?.length <= 0">
                    <p>Aucune ASMR n'est disponible pour ce médicament</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br/>

    <div class="panel panel-info">
      <div class="panel-heading"><h3>Interactions médicamenteuses</h3></div>
      <div class="panel-body">

        <div *ngFor="let i of interaction">
          <div class="panel panel-info">
            <div class="panel-body">
              <h4>{{i.nomMedicament1}} et {{i.nomMedicament2}}</h4>
              <p [innerHTML]='i.description'></p>
              <div class="alert alert-danger">
                <p><strong>{{i.type}}</strong></p>
                <p [innerHTML]="i.description"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
