<div class="panel panel-primary">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
      <div class="panel-heading"><h3><i class="glyphicon glyphicon-plus"></i> Mon traitement</h3></div>
      <div class="panel-body">
      <h4>Contre la Grippe :</h4>
      <div class="list-item">
        <ul>
          <li>Paracétamol : jusqu'à 4 g/jour pour les adultes, soit 1 à 2 comprimés (s) à 500 mg par prise, à renouveler en cas de besoin (jusqu'à 8 par jour). Espacer les prises d'au moins 4 heures.</li>
          <li>Pseudoéphédrine : 5 jours maximum, voir indications sur la notice</li>
          <li>Sirops antitussifs opiacés (dextrométorphane, codéine, codéthyline, etc.) : 120 mg/j</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
