<div class="jumbotron text-center">
  <app-post></app-post>

  <div *ngIf="isLogged" class="container">

    <a type="button" [routerLink]="['/doctor_rdv']">Gérer mes disponibilités</a><br/>

    <div class="row" *ngFor="let patient of patients">
      <div class="card card-block" *ngIf="patient.general_doctor">
        <!--Trick to display only the patients from the current doctor. Should NOT be made this way.-->
        <p class="card-title">{{ patient.user_id.first_name}} {{patient.user_id.last_name}}</p>
        <p class="card-text">{{patient.user_id.email}} <br/>
        <a class="btn btn-default btn-lg" (click)="change_submit(patient)">Envoyer un message</a><br/>
        <a type="button" [routerLink]="['/patient-treatment' , {'id' : patient.user_id._id}]">Traitement</a>
</p>
      </div>
    </div>

    <form (ngSubmit)="send_post()" *ngIf="submitted" #form="ngForm" role="form">
      <p><br><br>Laissez votre message pour {{patient_selected.user_id.first_name}}</p>
      <div class="container">
      <textarea class="form-control" id="comments" name="comments" placeholder="Commentaire" rows="5"
                [(ngModel)]="post.text"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Envoyer</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="!isLogged">
    <h1>Accès non autorisé, veuillez vous connecter pour accéder à cette page !</h1>
  </div>
</div>
